.modal-container {
  z-index: 999;
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.7);
}

.modal-content {
  padding: 50px;
  display: flex;
  flex-direction: column;
  border: 1px solid #d8dce3;
  border-radius: 5px;
  box-shadow: 0 2px 5px #bbb;
  background-color: #ffffff;
}

.modal-header {
  padding: 9px 10px;
  padding-left: 20px;
  height: 38px;
  text-align: center;
  font-size: 15px;
  position: relative;
}

.cross-btn {
  padding: 0;
  margin: 0;
  background: transparent;
  border: 0;
  position: absolute;
  right: 10px;
  font-weight: bold;
  cursor: pointer;
}

.modal-body {
  flex-grow: 1;
  padding: 14px 29px 14px 19px;
}

.modal-footer {
  padding: 10px 20px;
  display: flex;
  justify-content: center;
}
