.enhanced-table {
  height: 100%;
}

.cell-container {
  display: flex;
  align-items: center;
}

.mini-bar-chart {
  margin-left: 5px;
  max-width: 70px;
  height: 10px;
  width: 100%;
  background-color: #1CD1A1;
  border-radius: 3px;
}

.mini-bar-chart-progress {
  background-color: rgb(19, 146, 112);
  height: 100%;
  width: 75.9833%;
  left: 0px;
  border-radius: 3px;
}
