.visualization-container {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.visualization-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

.visualization-icon {
    border: 1px solid rgba(153, 153, 153, 0.77);
}

.visualization-item {
    margin-right: 70px;
    text-align: center;
    cursor: pointer;
}
