.visualizationToDashboardModalForm {
  display: flex;
  flex-direction: column;
}

.add-visualization-btn:disabled {
  opacity: 0.5;
}

.add-visualization-modal-action {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 20px;
}

.visualization-item-active > .visualization-icon {
  color: #ffffff !important;
}

.visualization-item-active {
  width: 100%;
  background-color: #1cd1a1;
  color: #ffffff;
  display: flex;
  align-items: center;
  font-weight: 700;
  padding: 10px 5px;
  border-radius: 6px;
  margin-top: 5px;
  cursor: pointer;
}

.visualization-item {
  display: flex;
  align-items: center;
  color: #2e353b;
  font-weight: 700;
  padding: 10px 5px;
  border-radius: 6px;
  margin-top: 5px;
  cursor: pointer;
}

.visualization-item:hover {
  color: #2e353b !important;
}

.visualizationToDashboardModalForm input {
  border: none;
  border-bottom: 1px solid #dadada;
  padding: 10px;
  margin-bottom: 15px;
  font-size: 15px;
  font-family: 'Roboto';
  text-transform: uppercase;
}

.visualizationToDashboardModalForm input::placeholder {
  color: #c6cfd4;
  font-size: 15px;
  font-family: 'Roboto';
  font-weight: bold;
}

.visualizationToDashboardModalForm input:focus {
  outline: none;
  border-bottom: 1px solid #33a1de;
}

.search-field {
  position: relative;
}

.search-field input {
  width: calc(100% - 25px);
}

.search-field svg {
  position: absolute;
  top: 8px;
  right: 10px;
}

.visualizationToDashboardModalFooter {
  flex: 1;
  width: 100%;
}

.visualizationToDashboardModalFooter button {
  text-align: start;
  border: none;
  background: none;
  font-size: 16px;
  font-family: 'Roboto';
  outline: none;
  position: relative;
  line-height: 30px;
  padding-left: 30px;
  cursor: pointer;
}

.visualizationToDashboardModalFooter button svg {
  position: absolute;
  top: 2px;
  left: 0;
}
