header {
  background-color: #519ee3;
  display: flex;
  justify-content: flex-end;
  padding: 10px 0;
}

.header-icons {
  color: #fff;
  margin-right: 35px;
  cursor: pointer;
}

.admin-header {
  background-color: #7073a9;
  justify-content: flex-start;
  align-items: center;
  padding-left: 20px;
  color: #fff;
}

.admin-header-icon {
  margin-right: 10px;
}

.admin-header-nav {
  display: flex;
  margin-left: 25px;
}

.admin-header-nav .MuiTabs-indicator {
  display: none;
}

.MuiListItem-root.MuiMenuItem-root svg {
    margin-right: 10px;
}
