header {
  height: 83px;
  background: #FFFFFF;
  border-bottom: 2px solid #F7F7F7;
  display: flex;
  position: relative;
}

.header-logo-container{
  background: #1CD1A1;
  width: 48px;
  height: 48px;
  margin: 15px 0 20px 15%;
  border-radius: 60%;
}

.header-logo-container:before {
  content: url(logo.svg);
  display: block;
  width: 80px;
  height: 26px;
  position: relative;
  right: 30px;
  top: 3px;
}

.header-logo-container:focus{
  outline: none;
}

.header-logo-text{
  font-family: Poppins;
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
  color:#4E4E4E;
  position: relative;
  left: 60px;
  top: -20px;
}

.header-controls{
  position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    right: 170px;
    height: inherit;
}

.header-icons{
  display: flex;
    align-items: center;
    justify-content: space-between;
    width: 120px;
    position: absolute;
    right: 10px;
    height: inherit;
}

.header-right{
  position: absolute;
  right: 15%;
  display: flex;
  flex-direction: row-reverse;
  width: 50%;
  height: inherit;
}

.admin-header {
  background-color: #0d7a16;
  justify-content: flex-start;
  align-items: center;
  padding-left: 20px;
  color: #fff;
}

.admin-header-icon {
  margin-right: 10px;
}

.admin-header-nav {
  display: flex;
  margin-left: 25px;
}

.link {
  margin-left: 3%;
  color: #fff;
  padding: 0 20px;
  min-height: 26px;
  font-weight: 500;
  text-decoration : none;
  opacity: 0.7;
}

.admin-settings{
  margin-right: 5%;
}