.visualizationModalForm {
  display: flex;
  flex-direction: column;
}

.MyFieldContainer {
  display: flex;
  flex-direction: column;
}

.labelsContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

.labelsContainer span {
  color: #718391;
  font-weight: bold;
  font-size: 12px;
  margin-bottom: 5px;
}

.MyFieldContainer p {
  color: red;
  font-weight: bold;
  font-size: 12px;
  margin: 0 0 5px 0;
}

.invalid input,
.invalid textarea {
  border-color: red !important;
}

.visualizationModalForm input,
textarea {
  border: 1px solid #dadada;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 15px;
  font-size: 15px;
  font-family: "Roboto";
}

.visualizationModalForm textarea {
  min-height: 80px;
}

.visualizationModalForm input::placeholder,
textarea::placeholder {
  color: #c6cfd4;
  font-size: 15px;
  font-family: "Roboto";
  font-weight: bold;
}

.visualizationModalForm input:focus,
textarea:focus {
  outline: none;
}

.visualizationModalFooter {
  padding-right: 24px !important;
  margin-bottom: 23px;
}
