.visualizationModalForm {
    display: flex;
    flex-direction: column;
}
.visualizationModalForm label {
    color: #718391;
    font-weight: bold;
    font-size: 12px;
    margin-bottom: 5px;
}

.visualizationModalForm input, textarea {
    border: 1px solid #dadada;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 15px;
    font-size: 15px;
    font-family: 'Roboto';
}

.visualizationModalForm textarea {
    min-height: 80px;
}

.visualizationModalForm input::placeholder, textarea::placeholder {
    color: #c6cfd4;
    font-size: 15px;
    font-family: 'Roboto';
    font-weight: bold;
}

.visualizationModalForm input:focus, textarea:focus {
    outline: none;
    border: 1px solid #33a1de;
}

.visualizationModalFooter {
    padding-right: 24px !important;
    margin-bottom: 23px;
}
