.MuiPopover-paper {
  width: 150px !important;
  height:150px !important;
}

.MuiPaper-elevation8{
  width: 150px !important;
  height: 150px !important;
  margin: 0 !important;
  padding: 0 !important;
  display: flex;
  justify-content: center;
  align-items: center;
  }