.visualization-list-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0 25px;
    margin-top: 20px;
}

.visualization-list-container a {
    color: black;
    text-decoration: none;
}

.visualization-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 40%;
    margin-bottom: 10px;
}

.visualization-item h2 {
    margin: 0 15px;
}
